.description{ text-align:center;
              float:center;
}
.column{
    float: left;
    width: 20%;
}

.col{
    display: flex;
    margin-left: 20px;



}
.carousel-caption2{
    margin-top: -200px;
    text-align: center;
    color: white;
    position: relative;
}
.col2{
    display: flex;
    margin-left: 20px;

}
.container3{
    vertical-align: center;
}
.last-episode{
    text-align: center;
}

.card{
    display: flex;
    float: left;
    max-width: 100;
    height: auto;
    margin: 20px;
    
}
.card-body{
    display: none;
}
.card-bdy{
    display: none;
}
.card-boy{
    display:none
}
.comment-section{
    margin-bottom: 200px;
}

.form-row{
    margin-top: -400px;
    text-align: center;
    color: white;
    position: relative;
}



.row{
    vertical-align: middle;
    margin: right;
}
.roww{
    height: 300px;
    margin-left: 100px;
    margin-bottom: 10px;

}
.design{
    height: auto;
    width: 30%;
    display:block;

}

@media screen and (min-width: 480px) {
    body {
      background-color: white;
    }
  }
  

  